@using WebAdminApp1.Views.Facilities
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageFacilitiesPages.DownloadOrganizationsNavClass(ViewContext)" id="organizations" asp-area="" asp-controller="Facilities" asp-action="Organizations">Organizations</a></li>
    <li class="nav-item"><a class="nav-link @ManageFacilitiesPages.DownloadAffiliatesNavClass(ViewContext)" id="affiliates" asp-area="" asp-controller="Affiliates" asp-action="Affiliates">Affiliates</a></li>
</ul>