@model RoomModel
@{
    ViewData["Title"] = "Add new Room";
    ViewData["ActivePage"] = ManageFacilitiesPages.DownloadAffiliates;
}
<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <form class="needs-validation" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdminNodeRoomDto.RoomDto.Number">Room number</label>
                <input class="form-control" placeholder="Room number" asp-for="AdminNodeRoomDto.RoomDto.Number"/>
                <div>
                    <span class="text-danger" asp-validation-for="AdminNodeRoomDto.RoomDto.Number"></span>
                </div>
                <label asp-for="AdminNodeRoomDto.RoomDto.Floor">Floor</label>
                <input class="form-control" placeholder="Floor number" asp-for="AdminNodeRoomDto.RoomDto.Floor"/>
                <div>
                    <span class="text-danger" asp-validation-for="AdminNodeRoomDto.RoomDto.Floor"></span>
                </div>
                <input type="hidden" asp-for="AdminNodeRoomDto.RoomDto.AffiliateId" value="@Model.AdminNodeRoomDto.RoomDto.AffiliateId"/>
                <input type="submit" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>
