@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}

<h2>Manage affiliates</h2>

<div>
    <h4>See information about affiliates</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_OrganizationNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
