@model UniqueRoomModel
<h4>Room with Id @Model.UniqueRoomId</h4>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript" src="~/js/@Model.Environment"></script>
<script src="~/js/chat.js"></script>
<script>
SetUniqueRoomId('@Model.UniqueRoomId');
</script>