@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using DagAir.WebApps.WebAdminApp2.Views.Facilities

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageFacilitiesPages.DownloadOrganizationsNavClass(ViewContext)" id="organizations" asp-area="" asp-controller="Facilities" asp-action="Organizations">Profile</a></li>
</ul>
