@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Admin application provides you with a possibility to measure and manage the condition
        of office spaces that you work in. </p>
</div>
