@model GetAffiliateModel
@{
    ViewData["Title"] = "See organizations";
    ViewData["ActivePage"] = ManageFacilitiesPages.DownloadAffiliates;
}
<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <table>
            <tr>
                <th>Name</th>
                <th>Organization Id</th>
            </tr>
            <tr>
                <td>@Model.AffiliateDto.Name</td>
                <td>@Model.AffiliateDto.OrganizationId</td>
            </tr>
        </table>
        <h4>Affiliates</h4>
        @if (Model.AffiliateDto.Rooms.Count > 0)
        {
            <ul class="nav nav-pills flex-column">
                @foreach (var room in Model.AffiliateDto.Rooms)
                {
                    <li>
                        @Html.ActionLink($"Room {room.Number}", "Affiliate", "Affiliates", new {roomId = room.Id}, null)
                    </li>
                }
            </ul>
        }
        else
        {
            <h4>Currently there are no rooms assigned to this affiliate.</h4>
        }
        
    </div>
</div>