@model GetAffiliatesModel
@{
    ViewData["Title"] = "See affiliates";
    ViewData["ActivePage"] = ManageFacilitiesPages.DownloadAffiliates;
}
<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <ul class="nav nav-pills flex-column">
            @foreach (var affiliate in Model.AffiliateDtos)
            {
                @Html.ActionLink(affiliate.Name, "Affiliate", "Affiliates", new {affiliateId = affiliate.Id}, null)
            }
        </ul>
    </div>
</div>